.button {
  border: none;

  padding: 8px 46px 9px 49px;
  background: #ab816c;
  border-radius: 25px;

  font-family: 'Caveat Brush';
  font-size: 18px;
  line-height: calc(23 / 18);

  color: #ffffff;
}



