$primary-color: #2e2520;
$title-color: #2e2520;
$nav-color: #2e2520;
$soc-icon-color: #2e2520;
$menu-burger-color: #2e2520;
$tel-footer-color: #2e2520;
$city-footer-color: #2e2520;
$name-reviews-color: #2e2520;

$background-color: #fffff9;

$button-background-color: #ab816c;
$rate-star-color: #ab816c;
$pagination-color: #ab816c;

$button-text-color: #ffffff;
$button-click-color: #674d40;
$button-hover-color: #876655;

$nav-hover-color: #876655;

$frame-background-color: #fef3e4;
$frame-title-color: #000000;
$frame-text-color: #000000;
$frame-icon-color: #674d40;

$form-placeholder-color: rgba(171, 129, 108, 0.5);
