<header class="header">

    <div class="container">

        <a href="./index.html" class="logo">
            <svg class="logo__ico" width='96' height='44' aria-label="logo">
                <use class="logo__icoSmoll" href=""></use>
                <use class="logo__icoBig" href=""></use>
            </svg>
        </a>

        <button type="button" class="mobile-menu__button" data-menu-button aria-expanded="false">
            <svg class="mobile-menu__buttonIco" width='40' height='40' aria-label="Mobile menu switcher">
                <use class="mobile-menu__icoMenu" href="./images/sprite.svg#mobile-menu"></use>
                <use class="mobile-menu__icoClose" href="./images/sprite.svg#mobile-close"></use>
            </svg>
        </button>

        <div class="mobile-menu" data-menu>

            <nav>
                <ul class="site-nav list">

                    <li class="site-nav__item">
                        <a href="" class="site-nav__link">About us</a>
                    </li>

                    <li class="site-nav__item">
                        <a href="" class="site-nav__link">Program</a>
                    </li>

                    <li class="site-nav__item">
                        <a href="" class="site-nav__link">Reviews</a>
                    </li>

                    <li class="site-nav__item">
                        <a href="" class="site-nav__link">Contacts</a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</header>